!*background: #101010
*background: #eeeeee
!*foreground: #d0d0d0
*foreground: #101010
*cursorColor: #93a1a1

! black
!*color0:  #3D3D3D
*color0:  #3f3433
! dark red
!*color1:  #a03232
*color1:  #973e26
! dark green
!*color2:  #5a805f
!*color2:  #3b5039
*color2:  #495843
! dark yellow
!*color3:  #5a7780
*color3:  #dbc265
! dark blue
*color4:  #325aa0
! dark magenta
!*color5:  #6e5155
!*color5:  #9db5e1
*color5:  #7a8cac
! dark cyan
!*color6:  #525f61
*color6:  #56787f
! light grey
!*color7:  #cccaca
*color7:  #ccd7e9

! dark grey
!*color8:  #4D4D4D
*color8:  #5e5f51
! red
!*color9:  #d15e5e
*color9:  #a85c38
! green
!*color10: #4d8053
!*color10: #818142
*color10: #8ea476
! yellow
!*color11: #4d7480
*color11: #ebd452
! blue
*color12: #5e99d1
! magenta
!*color13: #6e464b
*color13: #9db5e1
! cyan
!*color14: #3b585b
*color14: #789b95
! white
!*color15: #EDEFF2
*color15: #fdf9f6

URxvt.scrollBar:    false
URxvt.font: xft:Inconsolata LGC:style=Bold:pixelsize=9:antialias=true:hinting=true
URxvt.boldFont:

Xft.dpi: 96
