*background: #101010
*foreground: #d0d0d0
*cursorColor: #93a1a1

! black
*color0:  #3D3D3D
! dark red
*color1:  #656d75
! dark green
*color2:  #5a805f
! dark yellow
*color3:  #5a7780
! dark blue
*color4:  #515f6e
! dark magenta
*color5:  #6e5155
! dark cyan
*color6:  #525f61
! light grey
*color7:  #cccaca

! dark grey
*color8:  #4D4D4D
! red
*color9:  #596875
! green
*color10: #4d8053
! yellow
*color11: #4d7480
! blue
*color12: #465a6e
! magenta
*color13: #6e464b
! cyan
*color14: #3b585b
! white
*color15: #EDEFF2

URxvt.scrollBar:    false
URxvt.font: xft:Inconsolata LGC:style=Bold:pixelsize=9:antialias=true:hinting=true
URxvt.boldFont:

Xft.dpi: 96
