#xterm*font:      terminus-12 
#xterm*font:         -*-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
#xterm*boldFont:     -*-terminus-medium-*-*-*-12-*-*-*-*-*-iso8859-2
#xterm*font:         -*-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-1
#xterm*boldFont:     -*-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-1
#xterm*boldFont:  terminus-12 
#xterm*locale: true
#xterm*boldMode: false
*background: #101010
*foreground: #d0d0d0
*cursorColor: #93a1a1

*color0:			        #3D3D3D
*color8:			        #4D4D4D	
*color1:	                #7086A8
*color9:	                #BCD8FF 
*color2:	                #3EA290
*color10:	                #8CA8A3
*color3:	                #7498bd
*color11:	                #94b8dd
*color4:	                #42628A
*color12:	                #83AFE1
*color5:	                #57657b
*color13:	                #96a2b5
*color6:	                #8292B2
*color14:	                #95A7CC
*color7:	                #C8CACC
*color15:	                #EDEFF2

URxvt.scrollBar:    false
URxvt.font: xft:Terminus:Crisp:size=8:antialias=true:hinting=true
URxvt.boldFont:

Xft.dpi: 96
